<div class="row">
  <div class="col-md-8">
    <!-- Card for editing profile -->
    <!-- ... Existing card content ... -->

    <!-- New card for displaying dashboard list -->
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Dashboard List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>Title</th>
              <th>Actions</th>
            </thead>
            <tbody>
              <tr *ngFor="let dashboard of dashboards">
                <td>{{ dashboard.title }}</td>
                <td>
                  <button (click)="deleteDashboard(dashboard.id)" class="btn btn-danger">Delete</button>
                  <button (click)="updateDashaboard(dashboard.id)" class="btn btn-info" style="margin-left: 10px">Edit</button>
                  <button (click)="dashboardDetails(dashboard.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-primary" (click)="createMarket()">Add New Dashboard</button>
        <button class="m-3 btn btn-sm btn-danger" (click)="deleteAllDashboards()">Remove All</button>
    </div>
    </div>
  </div>
</div>
