<div class="row">
    <div class="col-md-8">
      <!-- Card for editing profile -->
      <!-- ... Existing card content ... -->
  
      <!-- New card for displaying dashboard list -->
      <div class="card">
        <div class="card-header">
  <div class="container">
    <h2>Update Datasource</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="type">type:</label>
        <input type="text" class="form-control" id="type" [(ngModel)]="datasource.type" name="type">
      </div>
      <div class="form-group">
        <label for="connection_port">connection_port:</label>
        <input type="text" class="form-control" id="connection_port" [(ngModel)]="datasource.connection_port" name="connection_port">
      </div>
      
      <div class="form-group">
        <label for="updator_id">updator_id:</label>
        <input type="text" class="form-control" id="updator_id" [(ngModel)]="updator_id" name="updator_id">
      </div>
     
      <button type="submit" class="btn btn-custom-green"><i class="fa fa-pencil"></i></button>
      <button type="button" class="btn btn-custom-cancel" (click)="cancelUpdate()"><i class="fa fa-undo"></i></button>
  

  
    </form>
   </div>
  </div>
      </div>
    </div>
  </div>
      
  
  
  